<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^build/(.*)$ public/build/$1 [L]
    RewriteRule ^storage/(.*)$ public/storage/$1 [L]
    RewriteRule ^favicon\.ico$ public/favicon.ico [L]
    RewriteRule ^robots\.txt$ public/robots.txt [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
